// 工作流连接线颜色变量
:root {
  // 连接线颜色
  --color-workflow-link-line-normal: #BEBFC4;  // 普通状态
  --color-workflow-link-line-hover: #6E56CF;   // 悬停状态
  --color-workflow-link-line-selected: #4F46E5; // 选中状态
} 